html{
  font-family: 'Josefin Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: #7697a0;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}

li{
  list-style: none;
}
p{
  font-size: 1.1rem;
}

h1{
  font-size: 2.4rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.8rem;
}

h4{
  font-size: 1.6rem;
}

h5{
  font-size: 1.4rem;
}

h6{
  font-size: 1.2rem;
}

.cta-main{
  background-color: var(--main-c);
  padding: 1rem 1rem ;
  color: #fff;
  font-size: bold;
  border-radius: 2px;
}

header.main-header{
  position: relative;    
  top: 0;
  width: 100%;
  z-index:9999;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: transparent;
  z-index: 999;
}
.wrap-logo-header{
  display: flex;
  align-items: center;
  flex-basis: 15%;
}
.logo{
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 50px;;
}
.logo img{
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  border: 50px;
}
img{
  height: 300px;
  
}
img {
  border-radius: 50%; 
  width: 150px; 
  height: 150px; 
}

.logo-header{
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}


.nav-header{
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-wrap-header{
  display: flex;
  flex-basis: 50%;
}

ul.main-menu{
  display: flex;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

ul.main-menu #nav-main-contact{
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background-color: var(--main-c);
  color: #fff;
}

li.menu-item{
  margin: .75rem;
  display: flex;
}

li.menu-item a{
  padding: .5rem 1rem;
  color: #fff;
}

li.menu-item a:hover{
  color: var(--main-c);
}

i.toggle-menu img{
  width: 27px;
  z-index: 99;
}

i.toggle-menu{
  display: none;
  background-color: #fff;
  border: none;
  z-index: 9999;
}

input#check{
  display: none;
}

@media (min-width:880px){
.header-wrap{
  padding: .5rem 5rem;
  }
}

@media (min-width:768px){
a.logo-header{
  color: #fdfdfd;
  }
}

@media (max-width:770px){
header.main-header{
margin-bottom: 4rem;
}

.header-wrap{
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  padding: 0;
  top: 0;
  z-index: 9999;
  height: 60px;
}

.wrap-logo-header{
  position: fixed;
  z-index:999;
  top: 0.2%;
  left: 3%;
}

.logo-header, li.menu-item a{
  color: #222;
}

i.toggle-menu{
  display: flex;
}

ul.main-menu,#nav-main-contact{
  display: none;
  left: 0;
  margin: 0;
  padding: 0;
}

ul.main-menu{
  position: fixed;
  background-color: #ffffff;
}

label.checkbtn{
  position: fixed;
  right: 100%;
  top: 100%;
  z-index: 9999;
  cursor: pointer;
}

#check:checked ~ ul{
  display: flex;
  z-index: 9;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  font-size: 2rem;
  }
}

.wrap-header-hero{
  background: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url(img/hero-front-page-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-home-page{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-hero-home-page{
  color: #ffffff;
  text-align: center;
  width: 50%;
}

.wrap-hero-home-page p{
  margin-bottom: 2rem;
}

@media (max-width:768px){
.wrap-hero-home-page{
  width: 100%;
  padding: 1rem;
  }
}

.section{
  max-width: 1200px;
  margin: 8rem auto;
  padding: 1rem;
}

.column-4{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.tarjeta-rest{
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 6px;
  padding: 1rem .5rem;
  display: flex;
  align-items: end;
}

.wrap-text_tarjeta-rest{
  color: #fff;
  padding: .5rem;
  border-radius: 6px;
  background:linear-gradient(to top, rgb(0 0 0 / .5), rgb(0 0 0 / .5));
}

.wrap-text_tarjeta-rest p{
  color: #f2f2f2;
}

.cta-wrap_tarjeta-rest{
  display: flex;
  justify-content: space-between;
}

.precio_tarjeta-rest span{
  font-size: 1.5rem;
  font-weight: bold;
}

.cta_tarjeta-rest{
  background-color: var(--main-c);
  padding: .25rem 1rem;
  border-radius: 4px;
}

.cta_tarjeta-rest a{
  color: #fff;
  font-weight: bold;
}

@media (max-width:1200px){
  .column-4{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (max-width:880px){
  .column-4{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:640px){
  .column-4{
    grid-template-columns: repeat(1,1fr);
  }
}

.column-3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.menu-restaurante{
  color: #fff;
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
}

hr{
  background: var(--main-c);
  height: 2px;
  width: 30px;
  border: none;
}

.precio-menu{
  font-weight: bold;
}

.precio-menu span{
  font-size: 2rem;
}

@media (max-width:880px){
  .column-3{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:640px){
  .column-3{
    grid-template-columns: repeat(1,1fr);
  }
}

.imagen-galeria, .imagen-galeria img{
  max-width: 285px;
  border-radius: 5px;
}

@media (max-width:880px){
  .galeria-platos{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
}

.categoria-card span{
  background: var(--main-c);
  border-radius: 4px;
  padding: .2rem .5rem;
  color: #fff;
}

.card footer{
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
}

.perfil-card{
  display: flex;
  align-items: center;
}

.img-perfil-card{
  display: flex;
}

.img-perfil-card img{
  width: 50px;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 0;
}

.text-perfil-card{
  display: flex;
  flex-flow: column;
}

.text-perfil-card span:nth-child(2){
  color: #cfcfcf; 
}

.card-wrap{
  display: flex;
  flex-flow: wrap;
}

@media (max-width:768px){
  .card-wrap{
    justify-content: center;
  }
}

footer{
  background-color: whitesmoke;
  color: var(--black-c);
}

footer ul{
  padding: 0;
}

.wrap-footer{
  display: grid;
  grid-template-columns: 30% 15% 15% 20%;
  column-gap: 5%;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
}

element-footer h5{
  margin: 1rem 0;
}

.text-element-footer{
  line-height: 2;
}

.text-element-footer li a{
  color: var(--main-c);
}

.rrss-element-footer ul{
  display: flex;
  flex-wrap: wrap;
}

.rrss-element-footer img{
  width: 45px;
}

.rrss-element-footer li{
  margin-right: 1rem;
}

.footer-creds{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #576171;
  font-size: .9rem;
  max-width: 1200px;
  margin: 0 auto;
}

.legal-creds ul{
  display: flex;
}

.legal-creds ul li{
  padding-right: 1rem;
}

.legal-creds ul li a{
  color: #576171;
}

@media (max-width:768px){
  .wrap-footer{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:480px){
  .wrap-footer{
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width:320px){
  .footer-creds{
    flex-flow: column;
  }
}

.splash{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 200;
  color: whitesmoke;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -10;
  color: whitesmoke;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn{
  to{
      opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}


#ultimo + div{
    visibility: hidden;
}