*{
    margin: 0;
    padding: 0;
  }
  
  body {
      font-family: Arial, sans-serif;
      background-color: #7697a0;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      color: black;
    }
  
    .logo{
      width: 200px;
      float: left;
      margin: 0;
      border-radius: 150px;
      border: 5px solid black;
  }
    
    h1 {
      text-align: center;
      margin-top: 50px;
    }
    
    form {
      width: 400px;
      margin: 0 auto;
      background-color: #f9e3b4;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border: 3px solid black;
    }
    
    label {
      display: inline-block;
      margin-bottom: 10px;
    }
    
    input[type="text"],
    input[type="tefefono"],
    input[type="email"],
    input[type="date"],
    input[type="time"],
    select,{
     width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      color: #E4C7B7;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  
  footer{
    text-align: center;
    font-size: 1em; 
    background-color: #bf9780;
    padding: 1%;
  }
  
#ultimo + div{
    visibility: hidden;
}